.row
  .col-md-6
    %nav.nav-bar
      %ul.nav.navbar-nav
        %li= back_link_to users_path
        %li= link_to 'Show', @user

.row
  .col-md-5.col-md-push-1
    %h1 Editing user ##{@user.id}

    = render 'form'
